:root {
    --primary-text-color: rgba(21, 21, 21, 1);
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
    --primary-grey-color: #757575;
    }

    p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    ul{
        margin: 0;
        padding-left: 0;
    }

    address {
        font-style: normal;
    }

    a {
        color: currentColor;
    }

body {
     font-family: Roboto, sans-serif; 
    }
    .list {
        list-style: none;
    }

    .container{
        width: 100%;
        max-width: 1230px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .section:first-child{
        margin-top: 0;
    }
.heder {
    background-color: var(--primary-white-color);
    padding-top: 24px;
    padding-bottom: 25px;
}
.heder{
    border: 1px solid #ECECEC;
}

 .menu{
    display: flex;
    align-items: center;
}

/*logo*/

.logo {
    font-family: Raleway, cursive;
    color: var(--primary-text-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    }
.logo-web {
    color: var(--accent-color);
}
/*navigation*/

.nav-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-left: 93px;
    
}

.nav-list .item {
    margin-right: 50px;
}

.nav-list .item:last-child{
    margin-right: 0;
}

.nav-link {
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
/*Contact*/

.contact {
    display: flex;
    margin-left: auto;
}
.contact .item + .item{
    margin-left: 50px;
}
.contact .item:last-child{
    margin-right: 0;
}

.contact-link {
    display: block;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-grey-color);
text-decoration: none;
margin-left: auto;
padding-top: 32px;
padding-bottom: 32px;
}



.contact-link:hover,
.contact-link:focus
{
    color:var(--accent-color)
}
/*Hero*/

.hero {
background-color: #2F303A;
padding-top: 200px;
padding-bottom: 200px;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);
}
.hero-button {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-white-color) ;
background-color: var(--accent-color);
display: block;
margin: 30px auto 0;
}
.hero-button {
    cursor: pointer;
}
/*features*/
.features {
    padding-bottom: 0px;
}
.features-titel{
    width: 0;
    height: 0;
    color: var(--primary-white-color);
}
.features-content{
    display: flex;
    margin-left: auto;
}
.features-list{
    width: 270px;
    height: 98px;
}
.features-list .item{
    margin-right: 30px;
}
.features-list .item:first-child{
    margin-right: 0;
}
.features-link {
font-weight: 700;
font-size: 14px;
line-height: 1.14x;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
margin-bottom: 10px;
}

.features-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-grey-color);
}


/*Work*/
.work-list{
    display: flex;
}
.work-photo{
    margin-right: 30px;
}
.work-photo:last-child{
    margin-right: 0;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

/*Team*/

.team {
    background-color: #F5F4FA;
}
.team-list{
    display: flex;
   
}
.team-link{
    margin-right: 30px;
    background-color: var(--primary-white-color);
    
}
.team-link:last-child{
    margin-right: 0;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
padding-top: 94px;
margin-bottom: 50px;
}
.team-link {
margin-bottom: 30px;
}

.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-bottom: 10px;
margin-top: 30px;
}

.team-text {
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-grey-color);
padding-bottom: 30px;
}

/*Footer*/

.footer {
background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}
.logo-footer {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-white-color);
text-decoration: none;
cursor: default; 
}
.logo-footer-web {
    color: var(--accent-color);
}
.footer-addres{
    margin-top: 20px;
}
.footer-addres-nav {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-white-color);
text-decoration: none;
cursor: default; 
}
.footer-addres-contacts {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
cursor: default; 
}
.footer-addres-contacts:hover,
.footer-addres-contacts:focus
{
    color:var(--accent-color)
}
.footer-addres-nav:hover,
.footer-addres-nav:focus
{
    color:var(--accent-color)
}


/*Portfolio*/

.portfolio {
    background-color: var(--primary-white-color);
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.filter-titel{
    width: 0;
    height: 0;
    color: var(--primary-white-color);
}

.filter {
margin-bottom: 34px;
display: flex;
margin-top: 94px;
justify-content:center
}
.filter .item{
    
margin-right: 8px;

}
.filter .item:last-child{
    margin-right: 0;
}
.filter-button {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background-color: #F5F4FA;
text-decoration: none;
width: max-content;
border: none;

}


.filter-button {
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color:var(--primary-white-color);
    background-color: var(--accent-color);
}
.portfolio-list{
    margin-bottom: 30px;
    margin-right: 30px;
    border-bottom: 1px solid #ECECEC
}
.portfolio-list:nth-child(3n) {
    margin-right: 0;
}
.portfolio-img{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-bottom: 4px;
margin-top: 20px;
}
.portfolio-text {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--primary-grey-color);
}
